<!-- page/javascriptfunctions.jsp -->
<!-- applicationframework/CommonHeader.jspi -->












<!-- applicationframework/contextPath.jspi -->






<!-- applicationframework/HeaderCSS1.jspi -->


<link rel="stylesheet" href="/webct/css/styles.jsp?locale=en_US&Id=2670372771001&colorSetId=A&fontSize=.8em&fontType=Verdana,Arial,Helvetica,sans-serif" type="text/css" />

<script language="javascript" src="/webct/jslib/sniffer.js"></script>
<script language="JavaScript">
function doWindowOpen(win_url,win_name,win_features,set_parent) {
var new_win
new_win=window.open(win_url, win_name, win_features)
if (new_win) {new_win.focus()}
if (set_parent==1) {
new_win.par=self
}
}
function showPage(tocID, tocLinkID, pageID, relativePath, anchorValue, target) {
var filename =relativePath;
if (window.name == "TOCCONTENTFRAME"
|| (window.parent != null && window.parent.name=="TOCCONTENTFRAME")) {
if (tocLinkID > 0) {

var tocURL = "/webct/urw/lc2662459789001.tp2670372771001/previewtoc.dowebct?TOCId=" + tocID + "&TOCLinkId=" + tocLinkID + "&displayBCInsideFrame=true&relativePath=" + relativePath + "&pageId=" + pageID;
if (anchorValue != "WEBCT_NO_ANCHOR_VALUE") {
tocURL = tocURL + "&poundValue=" + anchorValue;
}

if (parent!= null && parent.BREADCRUMBFRAME != null) {
parent.parent.location = tocURL + "&targetFrame=" + parent.parent.name + "&displayBCInsideFrame=true";
return false;
} else {
parent.location.href=tocURL;
return false;
}
} else if (pageID > 0) {

var pageURL = "/webct/urw/lc2662459789001.tp2670372771001/displayContentPage.dowebct?pageID=" + pageID;
if (anchorValue != "WEBCT_NO_ANCHOR_VALUE") {
pageURL = pageURL + "#" + anchorValue;
}

if (parent!= null && parent.BREADCRUMBFRAME != null) {
parent.location = pageURL + "&targetFrame=" + parent.name + "&displayBCInsideFrame=true";
return false;
} else {
location.href=pageURL;
}
}else {
if (null != relativePath && relativePath.indexOf("RelativeResourceManager?contentID")!= -1) {
var resURL =  relativePath;
filename= "page.link.content";
}else{

relativePath = relativePath.replace(/RelativeResourceManager\/Template\//, "");
relativePath = escapeForIE(relativePath);
var resURL = "/webct/urw/lc2662459789001.tp2670372771001/RelativeResourceManager/Template" + relativePath + ";JSESSIONIDVISTA=CtRKKjfRLxP7zZg8yhc2QW1TZn4HhJvhjLkTy3XTGSRsxZgQvBM1!-81416441!webctweb.ucsd.edu!80!443!1248042833140";
}
if (anchorValue != "WEBCT_NO_ANCHOR_VALUE") {
resURL = resURL + "#" + anchorValue;
}

if (parent!= null && parent.BREADCRUMBFRAME != null) {
filename = filename.replace(/^.*\//, "");
filename = escapeForIE(filename);
var fsAction = "/webct/urw/lc2662459789001.tp2670372771001/simpleBreadcrumbFrameset.dowebct?BOTTOMFRAME_SRC="+resURL+"&BREADCRUMB_NAME="+filename;
parent.location = fsAction;
return false;
} else {
location.href=resURL;
}
}
} else {
if (pageID > 0) {

var pageURL = "/webct/urw/lc2662459789001.tp2670372771001/displayContentPage.dowebct?pageID=" + pageID;
if (anchorValue != "WEBCT_NO_ANCHOR_VALUE") {
pageURL = pageURL + "#" + anchorValue;
}

if (parent!= null && parent.BREADCRUMBFRAME != null) {
parent.location = pageURL + "&targetFrame=" + parent.name + "&displayBCInsideFrame=true";
return false;
} else {
if (target == 2){
var win_name = null;
var win_features = "resizable, scrollbars";
var set_parent = '1';
doWindowOpen(pageURL,win_name,win_features,set_parent);
}else{
location.href=pageURL;
}
}
} else {
if (null != relativePath && relativePath.indexOf("RelativeResourceManager?contentID")!= -1) {
var resURL =  relativePath;
filename = "page.link.content";
}else{

relativePath = relativePath.replace(/RelativeResourceManager\/Template\//, "");
relativePath = escapeForIE(relativePath);
var resURL = "/webct/urw/lc2662459789001.tp2670372771001/RelativeResourceManager/Template" + relativePath + ";JSESSIONIDVISTA=CtRKKjfRLxP7zZg8yhc2QW1TZn4HhJvhjLkTy3XTGSRsxZgQvBM1!-81416441!webctweb.ucsd.edu!80!443!1248042833140";
}
if (anchorValue != "WEBCT_NO_ANCHOR_VALUE") {
resURL = resURL + "#" + anchorValue;
}
if (target == 2){
var win_name = null;
var win_features = "resizable, scrollbars";
var set_parent = '1';
doWindowOpen(resURL,win_name,win_features,set_parent);
}else if (target == 3){

if (parent!= null && parent.BREADCRUMBFRAME != null) {
filename = filename.replace(/^.*\//, "");
filename = escapeForIE(filename);
var fsAction = "/webct/urw/lc2662459789001.tp2670372771001/simpleBreadcrumbFrameset.dowebct?BOTTOMFRAME_SRC="+resURL+"&BREADCRUMB_NAME="+filename;
parent.location = fsAction;
return false;
} else {
location.href=resURL;
}
}else{
location.href=resURL;
}
}
}
}
// IE has a feature where non-ascii urlencoded links are unencoded. For example, when passing a
// japanese filename which has been uncoded we have to call this before generating URLs with the
// filename
function escapeForIE(name) {
if (is_ie) {
name = escape(name);
}
return name;
}
</script>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<HTML>
<HEAD>
<STYLE TYPE="text/css" SRC="../../style.css"></STYLE>
<SCRIPT TYPE="text/javascript">
</SCRIPT>
</HEAD>
<BODY BGCOLOR="#FFFFFF" ONLOAD="setToc();">

<H3>Introduction to Parallel Computation
<BR>Programming Assignment 2
<BR><I>K</I>-Means Clustering</H3>

<P>
<HR>
<H4><I>K</I>-Means Clustering</H4>

<P>
The input to the <I>K</I>-means clustering algorithm
is a list of <I>N</I> <B>data points.</B>
Each point consists of <I>D</I> <B>coordinates;</B>
in other words, the data set is <I>D</I>-dimensional.
Each coordinate is a double precision floating point number.

<P>
The algorithm finds <B>clusters</B>
in the data points.
Each cluster consists of a number of data points
that are close to each other
and far away from the rest of the data set.
The algorithm finds a specified number of clusters, <I>K.</I>

<P>
For each cluster,
the algorithm finds the <B>cluster center.</B>
The cluster center is defined to be
the average (mean) of all the data points in the cluster.
Specifically,
each coordinate of the cluster center
is the mean of the corresponding coordinates
of the data points in the cluster.
Hence the name &ldquo;<I>K</I>-means clustering:&rdquo;
The algorithm finds <I>K</I> clusters,
each cluster center being the mean
of the data points in the cluster.

<P>
The algorithm needs a metric
to determine the distance
between two given points.
For this project we will use
the <B>Euclidean distance.</B>
Let the coordinates of point <I>A</I> be
(<I>a</I><SUB>1</SUB>, <I>a</I><SUB>2</SUB>, . . . <I>a</I><SUB><I>D</I></SUB>). 
Let the coordinates of point <I>B</I> be
(<I>b</I><SUB>1</SUB>, <I>b</I><SUB>2</SUB>, . . . <I>b</I><SUB><I>D</I></SUB>). 
Then <I>d</I>,
the Euclidean distance
between points <I>A</I> and <I>B</I>, is

<P>
<CENTER>
<TABLE BORDER=0 CELLPADDING=0 CELLSPACING=0>
<TR>
<TD ALIGN="left" VALIGN="center">
<I>d</I>&nbsp;&nbsp;=
</TD>
<TD ALIGN="left" VALIGN="center">
<FONT SIZE="+3">[</FONT>
</TD>
<TD ALIGN="center" VALIGN="center">
<FONT SIZE="-1"><I>D</I></FONT>
<BR><FONT SIZE="+3">&Sigma;</FONT>
<BR><FONT SIZE="-1"><I>i</I>=1</FONT>
</TD>
<TD ALIGN="left" VALIGN="center">
(<I>a</I><SUB><I>i</I></SUB> &minus; <I>b</I><SUB><I>i</I></SUB>)<SUP>2</SUP>
</TD>
<TD ALIGN="left" VALIGN="center">
&nbsp;<FONT SIZE="+3">]<SUP><FONT SIZE="-1">1/2</SUP></FONT>
</TD>
</TR>
</TABLE>
</CENTER>

<P>
Here is the <I>K</I>-means clustering algorithm.

<P>
1&nbsp;&nbsp;&nbsp;&nbsp;Initialize the <I>K</I> cluster centers to be the first <I>K</I> data points
<BR>2&nbsp;&nbsp;&nbsp;&nbsp;Initially, each data point is not assigned to any cluster
<BR>3&nbsp;&nbsp;&nbsp;&nbsp;Repeat:
<BR>4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Assign each data point to the cluster whose center is the closest using the Euclidean distance
<BR>5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Recalculate the center point of each cluster
<BR>6&nbsp;&nbsp;&nbsp;&nbsp;Until none of the data points changed to a different cluster
<BR>7&nbsp;&nbsp;&nbsp;&nbsp;Output the coordinates of each cluster center

<P>
We are interested in a <I>parallel</I> program
to do <I>K</I>-means clustering
because the algorithm&rsquo;s running time
is proportional to the product of <I>N,</I> <I>D,</I> and <I>K.</I>
If we have, say, a million data points,
four dimensions,
and a thousand clusters,
then we are going to have to do billions and billions of calculations
(to paraphrase the immortal Carl Sagan).

<P>
<B>Comments</B>

<P>
Note that you only have to output the final cluster centers.
You do not have to output
which data points are assigned to which clusters.

<P>
The above algorithm is just a high-level description.
If implemented exactly as stated,
your program will do more work than necessary
and will have a larger running time than necessary.
Carefully consider ways to modify the algorithm
to reduce the amount of calculation needed,
while still getting the correct answer.
Some things to which I draw your attention:
<UL>
<LI>
The (...)<SUP>2</SUP> in the distance formula
<LI>
The [...]<SUP>1/2</SUP> in the distance formula
<LI>
Line 5 of the algorithm
</UL>

<P>
Keep the program&rsquo;s memory requirements in mind.
You don&rsquo;t want to design a program
that needs more memory
than is available.

<P>
<B>Example</B>

<P>
Here is an example of an input data set,
before <I>K</I>-means clustering.
The data set has <I>D</I> = 2 dimensions
and <I>N</I> = 100 points.

<P>
<CENTER>
<IMG SRC="/webct/RelativeResourceManager/Template/example1a.png">
</CENTER>

<P>
Here is the data set
after <I>K</I>-means clustering
with <I>K</I> = 3.
Each data point is colored
according to its assigned cluster.
The cluster centers are marked with Xs.

<P>
<CENTER>
<IMG SRC="/webct/RelativeResourceManager/Template/example1b.png">
</CENTER>

<P>
<HR>
<H4>Input File</H4>

<P>
The <I>K</I>-means clustering program&rsquo;s input file
is a binary file that
contains one integer whose value is the number of dimensions <I>D</I>,
followed by one integer whose value is the number of data points <I>N</I>,
followed by <I>N</I>&times;<I>D</I> double-precision floating-point numbers
which are the coordinates
of data points 0 through <I>N</I>&minus;1.
The input file is created by writing the data
using the <TT>writeInt()</TT> and <TT>writeDouble()</TT> methods
of class java.io.DataOutputStream, as follows:

<P>
<TT>&nbsp;&nbsp;&nbsp;&nbsp;DataOutputStream out = new DataOutputStream (...);</TT>
<BR><TT>&nbsp;&nbsp;&nbsp;&nbsp;out.writeInt (D);</TT>
<BR><TT>&nbsp;&nbsp;&nbsp;&nbsp;out.writeInt (N);</TT>
<BR><TT>&nbsp;&nbsp;&nbsp;&nbsp;for (int i = 0; i &lt; N; ++ i)</TT>
<BR><TT>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{</TT>
<BR><TT>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;for (int j = 0; j &lt; D; ++ j)</TT>
<BR><TT>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{</TT>
<BR><TT>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;out.writeDouble (a<SUB>i,j</SUB>);</TT>
<BR><TT>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}</TT>
<BR><TT>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}</TT>
<BR><TT>&nbsp;&nbsp;&nbsp;&nbsp;out.close();</TT>

<P>
where <I>a</I><SUB><I>i,j</I></SUB>
is the coordinate along the <I>j</I>-th dimension
of the <I>i</I>-th data point.
There must be at least one dimension
and at least one data point in the input file.

<P>
Here is an input file
containing the set of points in the above example:
<A HREF="javascript:showPage(-1, -1, 2697769947001, '/example1.in.dat', 'WEBCT_NO_ANCHOR_VALUE', '3');">example1.in.dat</A>

<P>
Here is a textual printout
of the data in the input file:
<A HREF="javascript:showPage(-1, -1, 2697769951001, '/example1.in.txt', 'WEBCT_NO_ANCHOR_VALUE', '3');">example1.in.txt</A>

<P>
<HR>
<H4>Output File</H4>

<P>
The <I>K</I>-means clustering program&rsquo;s output file
is a plain text file.
The output file consists of <I>K</I> lines.
Each line contains <I>D</I> floating-point numbers
representing the coordinates of one cluster center.
Each number is separated from the next by one tab character.
There are no extra characters before the first number.
There are no extra characters after the last number.
The cluster centers may appear in any order in the output file.

<P>
Here is the output file
containing the cluster centers
for the set of points in the above example:
<A HREF="javascript:showPage(-1, -1, 2697769953001, '/example1.out.txt', 'WEBCT_NO_ANCHOR_VALUE', '3');">example1.out.txt</A>

<P>
<HR>
<H4>Requirements</H4>

<OL TYPE=1>

<B>Sequential Program</B>

<P><LI>
The sequential program must implement a sequential version
of the <I>K</I>-means clustering algorithm described above,
in Java.

<P><LI>
The main program class must be named <TT>KMeansSeq</TT>,
and this class must not be in a package.

<P><LI>
The program must be run using this command:
<P>
<TT>java KMeansSeq &lt;K&gt; &lt;inputfile&gt; &lt;outputfile&gt;</TT>
<P>
where <TT>&lt;K&gt;</TT> is the number of clusters
(<I>K</I> &ge; 1),
<TT>&lt;inputfile&gt;</TT> is the input file name,
and <TT>&lt;outputfile&gt;</TT> is the output file name.

<P><LI>
The program must print an error message on the standard error
and must terminate
if there are any of the following problems.
The error message must include a meaningful description of the problem.
The error message may include an exception stack trace.
The wording of the error message is up to you.
<OL TYPE=a>
<LI>
Any required command line argument is missing.
<LI>
There are extra command line arguments.
<LI>
Any command line argument is invalid.
<LI>
The input file cannot be read.
<LI>
The input file&rsquo;s contents are invalid.
<LI>
The output file cannot be written.
</OL>

<P><LI>
The program must measure its own running time
from beginning to end,
including reading the input file,
computing the solution,
and writing the output file.

<P><LI>
The program must print its own running time in milliseconds
on the standard output.
<P>
<I>Note:</I>
The program must print <I>only</I> the number of milliseconds,
without any extraneous labels like <TT>"msec"</TT>.

<P><LI>
The program must not print anything else on the standard output.

<P>
<B>Parallel Program</B>

<P><LI>
The requirements for the parallel program
are the same as for the sequential program,
except as specified below.

<P><LI>
The parallel program must implement a parallel version
of the <I>K</I>-means algorithm described above,
for an SMP parallel computer,
in Java,
using the Parallel Java Library.

<P><LI>
The main program class must be named <TT>KMeansSmp</TT>,
and this class must not be in a package.

<P><LI>
The program must be run using this command:
<P>
<TT>java -Dpj.nt=&lt;NT&gt; KMeansSmp &lt;K&gt; &lt;inputfile&gt; &lt;outputfile&gt;</TT>
<P>
where <TT>&lt;NT&gt;</TT> is the number of parallel threads,
<TT>&lt;K&gt;</TT> is the number of clusters
(<I>K</I> &ge; 1),
<TT>&lt;inputfile&gt;</TT> is the input file name,
and <TT>&lt;outputfile&gt;</TT> is the output file name.

<P><LI>
You should run your sequential program on both the test01 and test02 test input files, with number of clusters = 2, 3, 4, and 5.  Run your parallel program
on the same data with number of processors equal to 1 and 2.  (If we get 
our accounts on the 8 processor SMP machine in the next couple days, 
I will have you go up to 8 processors with this.)  Record the running
time for all of these runs.


<P>
<B>Turning in Your Program</B>

<P><LI>
You should create a <TT>README</TT> file in which you discuss what you did in
your sequential implementation to make it as efficient as possible (see the 
<B>Comments</B> section above.  You should also discuss how you parallelized
your program.  What kind of parallelism did you find?  What sequential dependencies?  Any load balancing issues that you had to deal with?  What variables
were shared but had no conflict issues?  What variables were shared and had
conflict potential?  What were your per thread variables?  

<P> Your README file should also give (in table form is fine) the running
time data you gathered as described earlier.  You should discuss the results
that you see.  To the extent that you are getting less than ideal speedups,
you should explain it.

<P><LI>
You should include in what you turn in your <TT>KMeansSeq.java</TT> 
and <TT>KMeansSmp.java</TT> files, as well as the output produced by 
both programs on both the test input files (<TT>test01.in.dat</TT> and 
<TT>test02.in.dat</TT>).  The names of the output files should be 
<TT>test01.out.seq.txt</TT>,
 <TT>test02.out.seq.txt</TT>,
 <TT>test01.out.smp.txt</TT>, and
 <TT>test02.out.smp.txt</TT>.  The example input and output files,
as well as the files input files are also stored in
the directory <TT>/home/linux/ieng6/cs160u/public/prog2</TT>.

<P><LI> Your must turn in your program from your class account.
To do this, first put all files listed above in a directory called 
<TT>prog2</TT>.  There should be nothing else in the directory.  Then, 
<TT>tar</TT> the directory up into one file by typing

<P>
<TT>tar cvf prog2.tar prog2</TT>
<P>

This should be typed from the directory in which you have created the prog2 
directory.  Then type

<P>
<TT>turnin prog2.tar</TT>
<P>

from the same directory.  This will turn in your tar'd file containing both
of your programs and your output files.

<P><LI>
The documentation at the beginning of the program should include
your name and the name of your partner (if you are working with someone).

<P><LI> 
The due date for this program is Wednesday, July 22, at 11:59PM.  If you run
<TT>turnin</TT> by this time, you will not have any late penalties applied to 
your program.  If you run <TT>turnin</TT> after
July 22 at 11:59PM but at or before July 23 at 11:59PM, you will have 
20% of the possible points deducted from your score as a late penalty.
You will not receive any points if you try to run turnin after July 23
at 11:59PM.

<P>
<B>Programming Style</B>

<P><LI> 
You should follow good programming style guidelines such as you have learned
in your earlier programming classes.  The class website has a link to one 
set of guidelines.  You do not have to follow these guidelines precisely,
but if you ignore commonly accepted guidelines, points will be deducted
from you program grade.  For example, if you program has no comments,
or if your variable names are not descriptive, or you do not use
appropriate indentation, or if you have 5 page methods, you should expect
to lose points.

<P>
<B>Developing Your Program</B>

<P><LI> 
To develop your program from your ucsd account, log in and type

<P> <TT>prep cs160u</TT>
<P>
This will put you in the class directory, set your <TT>CLASSPATH</TT> 
variable to point to the Parallel Java Library, and set your path to run 
Java 1.5.  The Parallel Java Library is not working with Java 1.6 yet.  
(At least program timings are not working yet.)

<P>
You can develop your programs on your own machine, assuming it is 
multicore.  You will need to install Java 1.5 and also the Parallel Java 
Library.  See the website for a link to the Parallel Java Library.


</OL>

<P>
<FONT SIZE="-2">
Copyright &copy; 2009 Alan Kaminsky.
All rights reserved.
</FONT>
</BODY>
</HTML>
